*{
    margin:0;
    padding:0;
    outline: 0;
}
a{
    text-decoration: none;
}

.btn_main{
    display: flex;
    align-items: center;
    
}

.p_btn{
    padding:5px 10px;
    background: #e2e0e0;
    color:#414ae6;
    margin:0 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}